body {
    color: white;
    background-color: pink;
}

#lab_html {
    float: left;
}

#js_lab {
    float: right;
}

a {
    color: rgb(195, 0, 255);
}

a:hover {
    color: aqua;
}

ul {
    list-style-type: none;
}

h1 {
    color: red;
}

hr {
    border-color: white;
}

em {
    color: aqua !important;
}